<hr>
<button #a (click)="processData(a.value)" [innerHtml]="Adisplay" value="a">A</button>
<button #b (click)="processData(b.value)" value="b" [innerHtml]="Bdisplay">B</button>
<button #c (click)="processData(c.value)" value="c" [innerHtml]="Cdisplay">C</button>
<button #d (click)="processData(d.value)" value="d" [innerHtml]="Ddisplay">D</button>
<button #e (click)="processData(e.value)" value="e" [innerHtml]="Edisplay">E</button>
<button #f (click)="processData(f.value)" value="f" [innerHtml]="Fdisplay">F</button>
<hr>
<button #g (click)="processData(g.value)" value="g" [innerHtml]="Gdisplay">G</button>
<button #h (click)="processData(h.value)" value="h" [innerHtml]="Hdisplay">H</button>
<button #i (click)="processData(i.value)" value="i" [innerHtml]="Idisplay">I</button>
<button #j (click)="processData(j.value)" value="j" [innerHtml]="Jdisplay">J</button>
<button #k (click)="processData(k.value)" value="k" [innerHtml]="Kdisplay">K</button>
<button #l (click)="processData(l.value)" value="l" [innerHtml]="Ldisplay">L</button>
<button #m (click)="processData(m.value)" value="m" [innerHtml]="Mdisplay">M</button>
<hr>
<button #n (click)="processData(n.value)" value="n" [innerHtml]="Ndisplay">N</button>
<button #o (click)="processData(o.value)" value="o" [innerHtml]="Odisplay">O</button>
<button #p (click)="processData(p.value)" value="p" [innerHtml]="Pdisplay">P</button>
<button #q (click)="processData(q.value)" value="q" [innerHtml]="Qdisplay">Q</button>
<button #r (click)="processData(r.value)" value="r" [innerHtml]="Rdisplay">R</button>
<button #s (click)="processData(s.value)" value="s" [innerHtml]="Sdisplay">S</button>
<button #t (click)="processData(t.value)" value="t" [innerHtml]="Tdisplay">T</button>
<hr>
<button #u (click)="processData(u.value)" value="u" [innerHtml]="Udisplay">U</button>
<button #v (click)="processData(v.value)" value="v" [innerHtml]="Vdisplay">V</button>
<button #w (click)="processData(w.value)" value="w" [innerHtml]="Wdisplay">W</button>
<button #x (click)="processData(x.value)" value="x" [innerHtml]="Xdisplay">X</button>
<button #y (click)="processData(y.value)" value="y" [innerHtml]="Ydisplay">Y</button>
<button #z (click)="processData(z.value)" value="z" [innerHtml]="Zdisplay">Z</button>
<hr>

