<hr>
<button #a (click)="processData(a.value)" value="a">A</button>
<button #b (click)="processData(b.value)" value="b">B</button>
<button #c (click)="processData(c.value)" value="c">C</button>
<button #d (click)="processData(d.value)" value="d">D</button>
<button #e (click)="processData(e.value)" value="e">E</button>
<button #f (click)="processData(f.value)" value="f">F</button>
<hr>
<button #g (click)="processData(g.value)" value="g">G</button>
<button #h (click)="processData(h.value)" value="h">H</button>
<button #i (click)="processData(i.value)" value="i">I</button>
<button #j (click)="processData(j.value)" value="j">J</button>
<button #k (click)="processData(k.value)" value="k">K</button>
<button #l (click)="processData(l.value)" value="l">L</button>
<button #m (click)="processData(m.value)" value="m">M</button>
<hr>
<button #n (click)="processData(n.value)" value="n">N</button>
<button #o (click)="processData(o.value)" value="o">O</button>
<button #p (click)="processData(p.value)" value="p">P</button>
<button #q (click)="processData(q.value)" value="q">Q</button>
<button #r (click)="processData(r.value)" value="r">R</button>
<button #s (click)="processData(s.value)" value="s">S</button>
<button #t (click)="processData(t.value)" value="t">T</button>
<hr>
<button #u (click)="processData(u.value)" value="u">U</button>
<button #v (click)="processData(v.value)" value="v">V</button>
<button #w (click)="processData(w.value)" value="w">W</button>
<button #x (click)="processData(x.value)" value="x">X</button>
<button #y (click)="processData(y.value)" value="y">Y</button>
<button #z (click)="processData(z.value)" value="z">Z</button>
<hr>

