/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0; 
    padding: 0; 
    background-color: #A0D6F5;
    color: #FFF; 
}

h1 {
    font-size: 3rem; 
}

hr {
    width: 50%; 
}

button {
    padding: 1.5%; 
    margin: 0.5%; 
    font-size: 3rem; 
    color: #A0D6F5; 
    background-color: #FFF; 
    border-radius: 90px; 
}

img {
    width: 100px; 
    height: 100px; 
    border-radius: 90px; 
    padding: -1.5%; 
    margin: -0.5%; 
}

.container {
    text-align: center;  
}